<!doctype html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
      <script src="http://gregpike.net/demos/angular-local-storage/src/angular-local-storage.js"></script>
      <script src="http://gregpike.net/demos/angular-local-storage/src/common.js"></script>
      <script src="js/script.js"></script>
      <title>Multiview List</title>
      <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href = "css/style.css">

   </head>
  
   <body>
      <h1 align="center">
         Multiview List
      </h1>
      <hr/>
  
      <div class="container" ng-app="tabApp">
         <div class="row" ng-controller="TabController">
            <div class="col-md-2">
               <ul class="nav nav-pills nav-stacked">
                  <li ng-class="{ active: isSet(1) }">
                     <a href ng-click="setTab(1)">Home</a>
                  </li>
                  <li ng-class="{ active: isSet(2) }">
                     <a href ng-click="setTab(2)">Task completed</a>
                  </li>
                  <li ng-class="{ active: isSet(3) }">
                     <a href ng-click="setTab(3)">Miscellanous</a>
                  </li>
               </ul>
            </div>
      
      <div class="col-md-8">
         <div class="jumbotron">
            <div ng-show="isSet(1)">
               <h1>To Do</h1>
                  <p>Here is tab for to do lists!</p>
                  <div data-ng-controller="TodoController">
                     <section class="app-body">
                     <section class="archive-control">
                        <span>{{ remaining() }} of {{ todos.length }} remaining</span>
                        <p>[ <a href="" data-ng-click="archive()">Remove Completed Items</a> ]</p>
                     </section>

                     <ul class="unstyled">
                        <li data-ng-repeat="todo in todos track by $index">
                           <input type="checkbox" data-ng-model="todo.done">
                           <span class="done-{{ todo.done }}">{{ todo.text }}</span>
                        </li>
                     </ul>

                     <form data-ng-submit="addTodo()" class="todo-form">
                        <input type="text" data-ng-model="todoText" placeholder="Add new task" />
                        <br />
                        <input type="submit" value="Add Task" />
                     </form>
                     </section>
                  </div>
            </div>
          
            <div ng-show="isSet(2)">
               <h1>Task completed</h1>
                  <p>Here is tab for completed task</p>
                  <div data-ng-controller="TodoController">
                     <section class="app-body">
                     <section class="archive-control">
                        <span>{{ remaining() }} of {{ todos.length }} remaining</span>
                        <p>[ <a href="" data-ng-click="archive()">Remove Completed Items</a> ]</p>
                     </section>

                     <ul class="unstyled">
                        <li data-ng-repeat="todo in todos track by $index">
                           <input type="checkbox" data-ng-model="todo.done">
                           <span class="done-{{ todo.done }}">{{ todo.text }}</span>
                        </li>
                     </ul>

                     <form data-ng-submit="addTodo()" class="todo-form">
                        <input type="text" data-ng-model="todoText" placeholder="Add more completed task?!" />
                        <br />
                        <input type="submit" value="Add Task" />
                     </form>
                     </section>
                  </div>
            </div>
          
            <div ng-show="isSet(3)">
               <h1>Messages</h1>
                  <p> Miscellanous </p>
                  <div data-ng-controller="TodoController">
                  <section class="app-body">
                     <section class="archive-control">
                     <span>{{ remaining() }} of {{ todos.length }} remaining</span>
                     <p>[ <a href="" data-ng-click="archive()">Remove Completed Items</a> ]</p>
                  </section>

                  <ul class="unstyled">
                     <li data-ng-repeat="todo in todos track by $index">
                        <input type="checkbox" data-ng-model="todo.done">
                        <span class="done-{{ todo.done }}">{{ todo.text }}</span>
                     </li>
                  </ul>

                  <form data-ng-submit="addTodo()" class="todo-form">
                     <input type="text" data-ng-model="todoText" placeholder="Add new stuffs" />
                     <br />
                     <input type="submit" value="Add Task" />
                  </form>
                  </section>
                  </div>
            </div>
         
         </div>
      </div>
   </div>

   </body>
</html>